body {
	font: 2em Century Gothic;
	color: rgba(0,0,0,0.6);
	/* background: linear-gradient(to right, #D0149B, #E4731E); */
	text-align: center;
	letter-spacing: .4em;
	width: 100%;
	height: auto;
	/*top: 15%;*/
}
h1	{
	font: 600 2em Century Gothic;
	width: 100%;
	text-align: center;
}
h2	{
	font: 1em Century Gothic;
	letter-spacing: 0.1em;
	text-align: center;
}
h3 {
	font: oblique lighter 1em Helvetica, monospace;
	letter-spacing: 0em;
}